<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Edit product Page

    <form action="" method="post">
      <input type="text" placeholder="Title" name="title" />

      <input type="text" placeholder="Price" name="description" />

      <input type="text" name="Rating" placeholder="Rating" />

      <input type="text" name="stock" placeholder="Stock" />

      <button>Update Students</button>
    </form>
  </body>
</html>