<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Add product Page

    <form action="/api/v1/registerProduct" method="Post">
      <input type="text" placeholder="Title" name="title" />

      <input type="text" placeholder="description" name="description" />

      <input type="text" placeholder="Price" name="price" />

      <input type="text" name="rating" placeholder="Rating" />

      <input type="number" name="stock" placeholder="Stock" />

      <button>Submit Product</button>
    </form>
  </body>
</html>
